API_ENV = 'local'

DB_TYPE = 'mysql'
DB_HOST = 'db-mysql-sgp1-64001-do-user-8248788-0.b.db.ondigitalocean.com'
DB_PORT = '25060'
DB_USERNAME = 'username'
DB_PASSWORD = 'password'
DB_NAME = 'defaultdb'
DB_CERTIFICATE_PATH = 'full path'